name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "dist/*"
  pull_request:
    paths-ignore:
      - "dist/*"

jobs:
  test:
    runs-on: ubuntu-22.04
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - uses: peaceiris/workflows/setup-node@main
        with:
          node-version-file: ".nvmrc"

      - run: npm ci
      - run: npm run fmt:check
      - run: npm run xo
      - run: npm run build
      - run: git diff --exit-code
