name: CI

on:
  push:
    branches:
      - main
    paths-ignore:
      - "dist/*"
  pull_request:
    paths-ignore:
      - "dist/*"

jobs:
  test:
    runs-on: ubuntu-20.04
    permissions:
      contents: read
    timeout-minutes: 5
    steps:
      - uses: actions/checkout@v3

      - name: Set envs
        run: echo "::set-output name=node_version::$(cat .nvmrc)"
        id: envs

      - uses: peaceiris/workflows/setup-node@v0.16.0
        with:
          node-version: "${{ steps.envs.outputs.node_version }}"

      - run: npm ci
      - run: npm run fmt:check
      - run: npm run xo
      - run: npm run build
      - run: git diff --exit-code
